rep
scaffolds.list
sample_map.txt
configs/*.txt
!configs/metadata_template.txt
data/fastq/*.gz
tmp/
.snakemake/
logs/
benchmarks/
test/
results/
data/intervals/
data/outgroup/
data/reference/

indexcov.log
configs/metadata_new_to_fix.tsv
configs/metadata.tsv
scatter_units.list
configs/samples.tsv
