rep
scaffolds.list
sample_map.txt
configs/*.txt
!configs/metadata_template.txt
data/fastq/*.gz
tmp/
.snakemake/
logs/
benchmarks/
test/
results/
data/intervals/
data/outgroup/
data/reference/
tests/fake_smoke/data/fastq/
tests/fake_smoke/data/reference/*.fa
tests/fake_smoke/data/reference/*.fas
tests/fake_smoke/data/reference/*.fai
tests/fake_smoke/data/reference/*.dict
tests/fake_smoke/data/reference/*.amb
tests/fake_smoke/data/reference/*.ann
tests/fake_smoke/data/reference/*.bwt
tests/fake_smoke/data/reference/*.pac
tests/fake_smoke/data/reference/*.sa
tests/fake_smoke/data/reference/*_2x*.txt
tests/fake_smoke/data/reference/*_2x*.vcf
tests/fake_smoke/data/reference/*_2x*.vcf.gz
tests/fake_smoke/data/reference/*_2x*.vcf.gz.tbi
tests/fake_smoke/data/reference/*_4x*.txt
tests/fake_smoke/data/reference/*_4x*.vcf
tests/fake_smoke/data/reference/*_4x*.vcf.gz
tests/fake_smoke/data/reference/*_4x*.vcf.gz.tbi
tests/fake_smoke/data/reference/*_alignment.fas
tests/fake_smoke/results/
tests/fake_smoke/logs/
tests/fake_smoke/tmp/
tests/fake_smoke/intervals/

indexcov.log
configs/metadata_new_to_fix.tsv
configs/metadata.tsv
scatter_units.list
configs/samples.tsv

*.list
*.errlog
seed.txt
temp.sh

